---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
---
Language: Cpp
BreakBeforeBraces: Allman
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Right
BreakAfterAttributes: Always
SpaceAfterTemplateKeyword: false
PackConstructorInitializers: Never
ExperimentalAutoDetectBinPacking: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
ReflowComments: true
BreakConstructorInitializers: BeforeComma
SpaceBeforeCpp11BracedList: false
IndentPPDirectives: BeforeHash